body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0d9ef1;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.headingskills{
    width: 100% !important;
    height: 100px !important;
    padding-left: 50px !important;
    /* background-color: black !important;; */
    color: #7e7979;
}
.headingskills h1{
    height: 80px !important;
font-size: xx-large;
}
.skillscard {
    margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  background-color: #2d2d2e;
  flex-wrap: wrap;
  border-radius: 10px;
}
.skillscard .card {
    background-color: #333;
    color: white !important;
    border-radius: 10px !important;
  margin: 20px;
    width: 250px;                     /* ==================================*/
  border: 1px solid white !important;
  text-align: center !important;
}
.card img {
  width: 100% !important;
  height: 150px !important;
  border-radius: 10px;
  object-fit: cover;
}
.skillscard .card h2 {
 font-size: large;
}
.skillscard .card button{
    margin: auto;
    width: 50% !important;
    border: 1px solid white !important;
    border-radius: 10px !important;
}
.project .card{
    height: 250px !important;
}

.education{
width: 90%;
margin: auto !important;
background-color: #333;
border-radius: 10px !important;
padding: 10px !important;
height: 50vh !important;
}
.education div{
width: 100%;
padding-left:20px ;
margin: 10px;
/* border: 1px solid white !important; */
}
.education div h1{
    padding-left: 30px !important;
    color: white !important;
    font-size: x-large;
}
.education div h3{
    padding-left: 30px !important;
    color: white !important;
    font-size: large;
}
.myfooter{
    width: 90% !important;
    margin: auto;
    color: rgb(40, 39, 39) !important;
    /* background-color: #333; */
}


